.link {
  /* border: 1px solid var(--dark-gray); */
  display: inline-flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--gray);
  text-transform: uppercase;
  transition: var(--transition);
  &:hover {
    color: var(--light-gray);
    box-shadow: var(--shadow);
  }
}
